<div class="container-fluid card">
    <div class="row"   [ngClass] ="{'backround-dodgerblue':!env,'backround-lightBlue':env}">
      <div class="col-md-2 col-lg-1 col-xs-12 col-sm-12">
        <!--
        <img class="headerLogo text-center" src="../assets/deiLogo.jpg" alt="DEI-Logo">
        -->
        <img class="img-thumbnail headerLogo text-center"   src="assets/logo.png" alt="DEI-Logo">
      </div>
      <div class="col-md-10 col-lg-11 col-xs-12 col-sm-12">
        <!--
        <h1 class="text-center color-darkBlue fs-IB"   [ngClass] ="{}">Course Management System</h1>
        -->
        <h1 class="text-center fs-1"   [ngClass] ="{'color-darkorchid':!env,'color-darkBlue':env}">DEI EPAY System</h1>
        <h2 class="text-center fs-2"  [ngClass] ="{'color-darkorchid':!env,'color-darkBlue':env}">Dayalbagh Educational Institute</h2>
        
      </div>
    </div>
  </div>
 
