<app-message></app-message>
<app-spinner [spinnerstatus]="busystatus"></app-spinner>


<div class="container">
    <div class="card">

        <div class="card-body  border border-primary">
            <button type="button" class="btn-close" (click)="goBack()" aria-label="Close"></button>
            <h3 class="card-header">Continue Student Fee Payment</h3>

            <form #form="ngForm" [formGroup]="feeForm" (ngSubmit)="submit(form)">

                <div class="row">

                    <div class="col-md-4 col-sm-4 col-lg-2 p-2 bd-highlight">
                        <label>Roll Number</label>
                        <input appBlockCopyPasteDirective type="text" class="form-control" formControlName="rollnumber" [readonly]="show"
                            placeholder="Roll Number" [ngClass]="{ 'is-invalid': submitted && f['rollnumber']['errors']}"
                            width="20%">

                        <div *ngIf="submitted && f['rollnumber']['errors']" class="invalid-feedback">
                            <div *ngIf="f['rollnumber']['errors']['required']">Roll Number is Required </div>
                            <div *ngIf="f['rollnumber']['errors']['minlength']">Roll number of minimum length
                                {{f['rollnumber']['errors']['minlength']['requiredLength']
                                }} is required</div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-2 p-2 bd-highlight">
                        <label>Semester</label>
                        <select formControlName="semester"  class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f['semester']['errors']}">

                            <option value="SM1" [disabled]="show">1</option>
                            <option value="SM2" [disabled]="show">2</option>
                            <option value="SM3" [disabled]="show">3</option>
                            <option value="SM4" [disabled]="show">4</option>
                            <option value="SM5" [disabled]="show">5</option>
                            <option value="SM6" [disabled]="show">6</option>
                            <option value="SM7" [disabled]="show">7</option>
                            <option value="SM8" [disabled]="show">8</option>
                            <option value="SM9" [disabled]="show">9</option>
                            <option value="SM10" [disabled]="show">10</option>
                            <option value="SM11" [disabled]="show">11</option>
                            <option value="SM12" [disabled]="show">12</option>
                        </select>
                    </div>

                        <div *ngIf="!show" class="text-right col-md-4 col-sm-2 col-lg-1 p-2 m-3 bd-highlight">
                            <button type="submit" class="btn btn-primary m-2 btn-block ">OK</button>

                        </div>

                    </div>

                    <div class="row" *ngIf="show"></div>
                    <div *ngIf="feepending=='D' || feepending=='Y' "
                        class="col-md col-sm col-lg p-2 bd-highlight alert alert-warning" role="alert">
                        <p> You have a pending fee for below semester.Please make Payment</p>
                    </div>
                    <div class="row" *ngIf="show">

                        <div *ngIf="feepending=='D' || feepending=='Y'"
                            class="col-md-2 col-sm-2 col-lg-2 p-2 bd-highlight">
                            <label>Semester</label>
                            <input appBlockCopyPasteDirective type="text" class="form-control readonly" readonly formControlName="pendingsemester">
                        </div>

                        <div class="col-md-4 col-sm-4 col-lg-4 p-2 bd-highlight">
                            <label>Program</label>
                            <input appBlockCopyPasteDirective type="text" class="form-control readonly" readonly formControlName="programname">
                        </div>
                        <div class="col-md-4 col-sm-4 col-lg-3 p-2 bd-highlight">
                            <label>Name</label>
                            <input appBlockCopyPasteDirective type="text" class="form-control " readonly formControlName="studentname">
                        </div>

                    </div>

                    <div class="row" *ngIf="show">
                        <div class="col-md col-sm col-lg p-2 bd-highlight" *ngIf="feepending!='D'">
                            <label>Fee Amount</label>
                            <input appBlockCopyPasteDirective type="text" class="form-control " readonly formControlName="feeamount">
                        </div>
                        <div *ngIf="feepending!='D'" class="col-md col-sm col-lg p-2 bd-highlight">
                            <label>Late fee</label>
                            <input appBlockCopyPasteDirective type="text" class="form-control " readonly formControlName="latefee">
                        </div>
                        <div *ngIf="feepending!='D'" class="col-md col-sm-4 col-lg p-2 bd-highlight">
                            <label>Lab fee</label>
                            <input appBlockCopyPasteDirective type="text" class="form-control " readonly formControlName="labfee">
                        </div>
                        <div class="col-md col-sm col-lg p-2 bd-highlight">
                            <label>Amount to be paid</label>
                            <input appBlockCopyPasteDirective type="text" class="form-control " readonly formControlName="totalfee">
                        </div>
                    </div>

                    <div class="row" *ngIf="show">
                        <div class="col-md-4 col-sm-4 col-lg-3 p-2 m-2 bd-highlight">
                            <button type="button" class="btn btn-primary m-2">Make Payment</button>
                            <button type="button" class="btn btn-primary m-2" (click)="goBack()">Cancel</button>
                        </div>

                    </div>

            </form>
        </div>
    </div>
</div>